<!doctype html>
<html class="no-js" lang="zxx">

<head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Job board HTML-5 Template </title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="shortcut icon" type="image/x-icon" href="public/img/favicon.png">
  
   <!-- CSS here -->
      <link rel="stylesheet" href="public/css/bootstrap.min.css">
      <link rel="stylesheet" href="public/css/owl.carousel.min.css">
      <link rel="stylesheet" href="public/css/slicknav.css">
      <link rel="stylesheet" href="public/css/price_rangs.css">
      <link rel="stylesheet" href="public/css/animate.min.css">
      <link rel="stylesheet" href="public/css/magnific-popup.css">
      <link rel="stylesheet" href="public/css/fontawesome-all.min.css">
      <link rel="stylesheet" href="public/css/themify-icons.css">
      <link rel="stylesheet" href="public/css/slick.css">
      <link rel="stylesheet" href="public/css/nice-select.css">
      <link rel="stylesheet" href="public/css/style.css">
      <link rel="stylesheet" href="public/css/responsive.css">
</head>

<body>
   <!-- Preloader Start -->
   <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
               <div class="preloader-circle"></div>
               <div class="preloader-img pere-text">
                  <img src="public/img/logo/logo.png" alt="">
               </div>
            </div>
      </div>
   </div>
   <!-- Preloader Start-->
   <header>
      <!-- Header Start -->
     <div class="header-area header-transparrent">
         <div class="headder-top header-sticky">
              <div class="container">
                  <div class="row align-items-center">
                      <div class="col-lg-3 col-md-2">
                          <!-- Logo -->
                          <div class="logo">
                              <a href="/"><img src="public/img/logojob-sin-fondo.png" alt="" style="width: 21vh;"></a>
                          </div>  
                      </div>
                      <div class="col-lg-9 col-md-9">
                          <div class="menu-wrapper">
                              <!-- Main-menu -->
                              <div class="main-menu">
                                  <nav class="d-none d-lg-block">
                                      <ul id="navigation">
                                          <li><a href="/" style="text-decoration: none;">Inicio</a></li>
                                          <li><a href="/job_listing" style="text-decoration: none;">Encuentra trabajo</a></li>
                                          <li><a href="/about" style="text-decoration: none;">Sobre nosotros</a></li>
                                          <!-- <li><a href="#">Página</a>
                                              <ul class="submenu">
                                                  <li><a href="blog.html">Blog</a></li>
                                                  <li><a href="single-blog.html">Detalles del blog</a></li>
                                                  <li><a href="elements.html">Elementos</a></li>
                                                  <li><a href="/job_details">Detalles de trabajos</a></li>
                                              </ul>
                                          </li> -->
                                          <li><a href="/contact" style="text-decoration: none;">Contacto</a></li>
                                      </ul>
                                  </nav>
                              </div>          
                              <!-- Header-btn -->
                              <div class="header-btn d-none f-right d-lg-block">
                                  <h5>
                                      Google
                                      <i class="fa-sharp fa-solid fa-building fa-xl" style="padding-left:10px ;"></i>
                                  </h5>
                              </div>
                          </div>
                      </div>
                      <!-- Mobile Menu -->
                      <div class="col-12">
                          <div class="mobile_menu d-block d-lg-none"></div>
                      </div>
                  </div>
              </div>
         </div>
     </div>
      <!-- Header End -->
  </header>
   <!-- Hero Area End -->
   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding" style="padding-top: 20px;">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="blog_details">
                     <h2>Alberto Aramburu Agudo
                     </h2>
                     <ul class="blog-info-link mt-3 mb-4">
                        <li><i class="fa fa-user"></i> Ingeniero/a Informatico/a</li>
                     </ul>
                     <div class="quote-wrapper"style="width: 1255px">
                        <div class="quotes">
                           <div class="container">
                              <div class="row">
                                <div class="col-lg-4">
                                  <div class="profile-card-4 z-depth-3">
                                    <div class="card">
                                       <div class="card-body text-center bg-primary rounded-top" style="height: 141px; background-color: #dae1e9!important;">
                                          <div class="user-box">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user avatar" style="height: 100px;"/>
                                          </div>
                                        </div>
                                      <div class="card-body">
                                        <ul class="list-group shadow-none">
                                          <li class="list-group-item">
                                            <div class="list-icon">
                                              <i class="fa fa-phone-square"></i>
                                            </div>
                                            <div class="list-details">
                                              <span>685 578 696</span><br>
                                              <small>Numero de telefono</small>
                                            </div>
                                          </li>
                                          <li class="list-group-item">
                                            <div class="list-icon">
                                              <i class="fa fa-envelope"></i>
                                            </div>
                                            <div class="list-details">
                                              <span>albertoaramburu@gmail.com</span><br>
                                              <small>Email</small>
                                            </div>
                                          </li>
                                          <li class="list-group-item">
                                            <div class="list-icon">
                                              <i class="fa fa-globe"></i>
                                            </div>
                                            <div class="list-details">
                                              <span>www.albertoaramburu.com</span><br>
                                              <small>Pagina web</small>
                                            </div>
                                          </li>
                                          <li class="list-group-item">
                                            <div class="list-icon">
                                             <i class="fa-brands fa-github"></i>
                                            </div>
                                            <div class="list-details">
                                              <span>https://github.com/Aramburu1011</span><br>
                                              <small>GitHub</small>
                                            </div>
                                          </li>
                                        </ul>
                                        
                                      </div>
                                      <div class="card-footer text-center">
                                        <a href="javascript:void()" class="btn-social btn-facebook waves-effect waves-light m-1" ><i class="fa fa-facebook"></i></a>
                                        <a href="javascript:void()" class="btn-social btn-google-plus waves-effect waves-light m-1" ><i class="fa fa-google-plus"></i></a>
                                        <a href="javascript:void()" class="list-inline-item btn-social btn-behance waves-effect waves-light" ><i class="fa fa-behance"></i></a>
                                        <a href="javascript:void()" class="list-inline-item btn-social btn-dribbble waves-effect waves-light" ><i class="fa fa-dribbble"></i></a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-8">
                                  <div class="card z-depth-3">
                                    <div class="card-body">
                                      
                                      <div class="tab-content p-3">
                                        <div class="tab-pane active show" id="profile">
                                          <h5 class="mb-3">Perfil de usuario</h5>
                                          <div class="row">
                                            <div class="col-md-6">
                                              <h6>About</h6>
                                              <p>Diseñador, Ingeniero Informatico</p>
                                              <h6>Hobbies</h6>
                                              <p>
                                                Programacion, ciberseguridad, futbol, padel.
                                              </p>
                                            </div>
                                            <div class="col-md-6">
                                              <h6>Conocimientos</h6>
                                              <a
                                                href="javascript:void();"
                                                class="badge badge-dark badge-pill" style="color: aliceblue;"
                                                >html5</a
                                              >
                                              <a
                                                href="javascript:void();"
                                                class="badge badge-dark badge-pill " style="color: aliceblue"
                                                >react</a
                                              >
                                              <a
                                                href="javascript:void();"
                                                class="badge badge-dark badge-pill" style="color: aliceblue;"
                                                >codeply</a
                                              >
                                              <a
                                                href="javascript:void();"
                                                class="badge badge-dark badge-pill" style="color: aliceblue;"
                                                >angularjs</a
                                              >
                                              <a
                                                href="javascript:void();"
                                                class="badge badge-dark badge-pill" style="color: aliceblue;"
                                                >css3</a
                                              >
                                              <a
                                                href="javascript:void();"
                                                class="badge badge-dark badge-pill" style="color: aliceblue;"
                                                >jquery</a
                                              >
                                              <a
                                                href="javascript:void();"
                                                class="badge badge-dark badge-pill" style="color: aliceblue;"
                                                >bootstrap</a
                                              >
                                              <a
                                                href="javascript:void();"
                                                class="badge badge-dark badge-pill" style="color: aliceblue;"
                                                >responsive-design</a
                                              >
                                              <hr />
                                              
                                            </div>
                                            <div class="col-md-12">
                                              <h5 class="mt-2 mb-3">
                                                <span
                                                  class="fa fa-clock-o ion-clock float-right"
                                                ></span>
                                                Cursos
                                              </h5>
                                              <table class="table table-hover table-striped">
                                                <tbody>
                                                  <tr>
                                                    <td>
                                                      <strong>HTML</strong> diseño de pagina web
                                                      <strong>`Front end`</strong>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td>
                                                      <strong>CSS</strong> estilo de pagina web
                                                      <strong>`Front end`</strong>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td>
                                                      <strong>SQL</strong> programaciond de base de datos
                                                      <strong>`Back end`</strong>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td>
                                                      <strong>Nodejs</strong> creacion de aplicaciones
                                                      <strong>`Front y Back end`</strong>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td>
                                                      <strong>Bash</strong> ejecucion de comandos por consola
                                                      <strong>`Lenguaje de comandos`</strong>
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </div>
                                          </div>
                                        </div> 
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                     </div>
                     
                  </div>
               </div>
               
               <div class="comment-form">
                  <form class="form-contact comment_form" action="#" id="commentForm">
                     <div class="form-group">
                        <button type="submit" class="button button-contactForm btn_1 boxed-btn">Aceptar candidatura</button>
                     </div>
                  </form>
               </div>
            </div>
            
         </div>
      </div>
   </section>
   <!--================ Blog Area end =================-->
   <footer>
      <!-- Footer Start-->
      <div class="footer-area footer-bg footer-padding">
          <div class="container">
              <div class="row d-flex justify-content-between">
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                     <div class="single-footer-caption mb-50">
                       <div class="single-footer-caption mb-30">
                           <div class="footer-tittle">
                               <h4>About Us</h4>
                               <div class="footer-pera">
                                   <p>Heaven frucvitful doesn't cover lesser dvsays appear creeping seasons so behold.</p>
                              </div>
                           </div>
                       </div>

                     </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                      <div class="single-footer-caption mb-50">
                          <div class="footer-tittle">
                              <h4>Contact Info</h4>
                              <ul>
                                  <li>
                                  <p>Address :Your address goes
                                      here, your demo address.</p>
                                  </li>
                                  <li><a href="#">Phone : +8880 44338899</a></li>
                                  <li><a href="#">Email : info@colorlib.com</a></li>
                              </ul>
                          </div>

                      </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                      <div class="single-footer-caption mb-50">
                          <div class="footer-tittle">
                              <h4>Important Link</h4>
                              <ul>
                                  <li><a href="#"> View Project</a></li>
                                  <li><a href="#">Contact Us</a></li>
                                  <li><a href="#">Testimonial</a></li>
                                  <li><a href="#">Proparties</a></li>
                                  <li><a href="#">Support</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                      <div class="single-footer-caption mb-50">
                          <div class="footer-tittle">
                              <h4>Newsletter</h4>
                              <div class="footer-pera footer-pera2">
                               <p>Heaven fruitful doesn't over lesser in days. Appear creeping.</p>
                           </div>
                           <!-- Form -->
                           <div class="footer-form" >
                               <div id="mc_embed_signup">
                                   <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                   method="get" class="subscribe_form relative mail_part">
                                       <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                       class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                       onblur="this.placeholder = ' Email Address '">
                                       <div class="form-icon">
                                           <button type="submit" name="submit" id="newsletter-submit"
                                           class="email_icon newsletter-submit button-contactForm"><img src="public/img/icon/form.png" alt=""></button>
                                       </div>
                                       <div class="mt-10 info"></div>
                                   </form>
                               </div>
                           </div>
                          </div>
                      </div>
                  </div>
              </div>
             <!--  -->
             <div class="row footer-wejed justify-content-between">
                     <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <!-- logo -->
                        <div class="footer-logo mb-20">
                          <a href="index.html"><img src="public/img/logo/logo2_footer.png" alt=""></a>
                        </div>
                     </div>
                     <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                      <div class="footer-tittle-bottom">
                          <span>5000+</span>
                          <p>Talented Hunter</p>
                      </div>
                     </div>
                     <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                          <div class="footer-tittle-bottom">
                              <span>451</span>
                              <p>Talented Hunter</p>
                          </div>
                     </div>
                     <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                          <!-- Footer Bottom Tittle -->
                          <div class="footer-tittle-bottom">
                              <span>568</span>
                              <p>Talented Hunter</p>
                          </div>
                     </div>
             </div>
          </div>
      </div>
      <!-- footer-bottom area -->
      <div class="footer-bottom-area footer-bg">
          <div class="container">
              <div class="footer-border">
                   <div class="row d-flex justify-content-between align-items-center">
                       <div class="col-xl-10 col-lg-10 ">
                           <div class="footer-copy-right">
                               <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                           </div>
                       </div>
                       <div class="col-xl-2 col-lg-2">
                           <div class="footer-social f-right">
                               <a href="#"><i class="fab fa-facebook-f"></i></a>
                               <a href="#"><i class="fab fa-twitter"></i></a>
                               <a href="#"><i class="fas fa-globe"></i></a>
                               <a href="#"><i class="fab fa-behance"></i></a>
                           </div>
                       </div>
                   </div>
              </div>
          </div>
      </div>
      <!-- Footer End-->
   </footer>
   
<!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
      <script src="./public/js/vendor/modernizr-3.5.0.min.js"></script>
      <script src="https://kit.fontawesome.com/a5061d6d8e.js" crossorigin="anonymous"></script>

		<!-- Jquery, Popper, Bootstrap -->
		<script src="./public/js/vendor/jquery-1.12.4.min.js"></script>
      <script src="./public/js/popper.min.js"></script>
      <script src="./public/js/bootstrap.min.js"></script>
      <!-- Jquery Mobile Menu -->
      <script src="./public/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
      <script src="./public/js/owl.carousel.min.js"></script>
      <script src="./public/js/slick.min.js"></script>
      <script src="./public/js/price_rangs.js"></script>
      <!-- Date Picker -->
      <script src="./public/js/gijgo.min.js"></script>
		<!-- One Page, Animated-HeadLin -->
      <script src="./public/js/wow.min.js"></script>
		<script src="./public/js/animated.headline.js"></script>
      <script src="./public/js/jquery.magnific-popup.js"></script>

		<!-- Scrollup, nice-select, sticky -->
      <script src="./public/js/jquery.scrollUp.min.js"></script>
      <script src="./public/js/jquery.nice-select.min.js"></script>
		<script src="./public/js/jquery.sticky.js"></script>
      
      <!-- contact js -->
      <script src="./public/js/contact.js"></script>
      <script src="./public/js/jquery.form.js"></script>
      <script src="./public/js/jquery.validate.min.js"></script>
      <script src="./public/js/mail-script.js"></script>
      <script src="./public/js/jquery.ajaxchimp.min.js"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
      <script src="./public/js/plugins.js"></script>
      <script src="./public/js/main.js"></script>
        
</body>
</html>